/* src/pages/HomePage.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('/public/background.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  color: white;
  text-align: center;
}

.background-shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-shapes .shape {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); /* Optional dark overlay */
  border-radius: 50%;
}

.shape-1 {
  width: 300px;
  height: 300px;
  top: -50px;
  left: -50px;
}

.shape-2 {
  width: 600px;
  height: 600px;
  bottom: -200px;
  right: -200px;
}

.home-content {
  z-index: 1;
  max-width: 800px;
  padding: 20px;
}

.home-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 24px;
  margin-bottom: 30px;
}

.home-content button {
  padding: 15px 30px;
  background-color: #fbb040;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.home-content button:hover {
  background-color: #e6a937;
}

@media (max-width: 600px) {
  .home-content h1 {
    font-size: 32px;
  }

  .home-content p {
    font-size: 18px;
  }

  .home-content button {
    padding: 10px 20px;
    font-size: 16px;
  }
}
